
## for olcDatabase={1}mdb,cn=config 
dn: olcDatabase=mdb,cn=config
objectClass: olcDatabaseConfig
objectClass: olcMdbConfig
olcDatabase: mdb
OlcDbMaxSize: 1073741824
olcSuffix: {{ transldap_basedn }}
olcRootDN: {{ transldap_cn_admin_dnprefix }},{{ transldap_basedn }}
olcRootPW: {{ transldap_cn_admin_password }}
olcDbDirectory: {{ transldap_basedn_dbdirectory }}
olcDbIndex: objectClass eq
olcAccess: to * by * read
